.modal {
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content {
    position: relative;
    display: flex;
    background: rgb(126, 95, 64);
    flex-direction: column;
    width: 40%;
    padding: 1rem 2rem;
    border-radius: 2rem;
}
.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2d6;
}
.modal-header h2 {
    font-size: 1.75rem;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}
.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2d6;
}
.modal-close-button {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}
.input-group {
    display:flex;
    flex-direction:column;
    margin:0.5rem 0;
    padding:0.5rem 1rem;
}
.input-group label {
    margin-bottom: 0.5rem;
}
.input-group textarea {
    height: 8rem;
}
.playlist-submit-button {
    --button-bg-color: #1DB954;
    --button-text-color:#f5f5f5;
    margin-right: 1rem;
}
.playlist-cancel-button {
    --button-bg-color: #D0342C;
    --button-text-color:#f5f5f5;
    margin-right: 2rem;
}
.playlist-title-error {
    color: #ff4e44;
}