.Track {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 2rem;
}
.track-list, .playlist {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.playlist {
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.greetings {
    text-align: left;
    margin-left: 2rem;
}
.sub-greetings {
    text-align: left;
    margin-top: 2rem;
    margin-left: 5rem;
}